.box {
  width: 700px;
  height: 800px;
  margin: auto;
  border-radius: 10px;
  display: grid;
  gap: 30px;
  grid-auto-rows: 50px 50px 200px 50px 50px;
  justify-content: center;
  border: 2px solid #37419a;
  box-shadow: 10px 10px #84c0e9;
}

.head {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #37419a;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title > input {
  border: 1px solid #a9dfed;
  border-radius: 10px;
}
.input[type="text"] {
  border: 1px solid #a9dfed;
  border-radius: 10px;
}
.image {
  text-align: center;
}

.comment > textarea {
  width: 100%;
  height: 6.25em;
  border: none;
  resize: none;
  margin-bottom: 10px;
  border: 1px solid #a9dfed;
  border-radius: 10px;
}

.btn {
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn > button {
  border-radius: 10px;
  border: 1px solid #ebd6e8;
  background-color: #a9dfed;
}
