.desc {
  grid-area: desc;
  text-align: center;
}

.albumURL {
  grid-area: albumURL;
}

.review {
  grid-area: review;
  /* 콘텐츠에 따라 늘어나는 높이 어떻게? */
  height: 140px;
  border: 1px solid var(--color-deepblue);
  border-radius: 16px;
}

/* 제목 흐르는 애니메이션 */
.animated-title {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

/* .slideText {
  white-space: nowrap;
  display: inline-block;
  white-space: nowrap;
  max-width: 18ch;
  overflow: hidden;
} */

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}
